In [11]:
# https://www.data.gouv.fr/fr/datasets/demandes-de-valeurs-foncieres/
 
import pandas as pd

In [12]:
df = pd.read_csv("./valeursfoncieres-2021.txt", delimiter='|')

/tmp/ipykernel_32101/2520266297.py:1: DtypeWarning: Columns (18,23,24,25,26,27,28,29,30,31,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./valeursfoncieres-2021.txt", delimiter='|')

In [13]:
df.columns

Index(['Code service CH', 'Reference document', '1 Articles CGI',
       '2 Articles CGI', '3 Articles CGI', '4 Articles CGI', '5 Articles CGI',
       'No disposition', 'Date mutation', 'Nature mutation', 'Valeur fonciere',
       'No voie', 'B/T/Q', 'Type de voie', 'Code voie', 'Voie', 'Code postal',
       'Commune', 'Code departement', 'Code commune', 'Prefixe de section',
       'Section', 'No plan', 'No Volume', '1er lot',
       'Surface Carrez du 1er lot', '2eme lot', 'Surface Carrez du 2eme lot',
       '3eme lot', 'Surface Carrez du 3eme lot', '4eme lot',
       'Surface Carrez du 4eme lot', '5eme lot', 'Surface Carrez du 5eme lot',
       'Nombre de lots', 'Code type local', 'Type local', 'Identifiant local',
       'Surface reelle bati', 'Nombre pieces principales', 'Nature culture',
       'Nature culture speciale', 'Surface terrain'],
      dtype='object')

In [14]:
df = df[['Valeur fonciere', 'Code postal', 'Voie', 'Commune', 'Code departement', "Surface reelle bati", 'Nombre pieces principales', 'Surface terrain']]

In [16]:
df = df.dropna()

In [28]:
df_sample = df.sample(n=10000, random_state=1)

In [29]:
df_sample.describe()

,Code postal,Surface reelle bati,Nombre pieces principales,Surface terrain
count,10000.000000,10000.000000,10000.000000,10000.000000
mean,50719.460800,104.559100,2.562100,1130.893100
std,26058.788003,852.776964,2.342839,3156.713791
min,1000.000000,0.000000,0.000000,2.000000
25%,30357.500000,0.000000,0.000000,272.000000
50%,49740.000000,70.000000,3.000000,525.000000
75%,73252.500000,106.000000,4.000000,992.000000
max,97490.000000,71331.000000,23.000000,107966.000000

In [30]:
from sqlalchemy import create_engine    

engine = create_engine('sqlite://', echo=False)
df_sample.reset_index().to_sql(name="fonciere", con=engine)  # reset_index() is needed to preserve index column in dumped data

with engine.connect() as conn:
    with open("fonciere.sql", "w") as f:
        for line in conn.connection.iterdump():
            f.write(line)
            f.write('\n')

In [26]:
!pip install sqlalchemy

Collecting sqlalchemy
  Using cached SQLAlchemy-1.4.40-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
Collecting greenlet!=0.4.17
  Downloading greenlet-1.1.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (155 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 155.9/155.9 kB 2.4 MB/s eta 0:00:00a 0:00:01
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-1.1.3 sqlalchemy-1.4.40

[notice] A new release of pip available: 22.1.2 -> 22.2.2
[notice] To update, run: pip install --upgrade pip